<%= render "shared/header" %>

<div class="calender-bg">
  <div class="pie-left">
    <div class="calendar-heading">
      <%= link_to "Previous",genres_path(month:@month.prev_month), class:"change-month" %>
      <span class="calendar-title"><%= @month.strftime('%Y%B') %></span><%= link_to "Next",genres_path(month:@month.next_month), class:"change-month" %>
    </div>
    <div class="pie-change-btn">
      <button type="button" class="pie-income-btn" id="income-btn">収入</button>
      <button type="button" class="pie-spending-btn" id="spending-btn">支出</button>
    </div>
    <div class="chart-graph">
      <div class="spending-graph" id="pie_spending">
        <%= pie_chart @spending %>
      </div>
      <div class="income-graph" id="pie_income">
        <%= pie_chart @income %>
      </div>
    </div>


    <div class="income-graph" id="pie_income_total">
      <div class="chart-total-price">
        <div>収入合計</div>
        <div><%= (@select_income).to_s(:delimited) %>円</div>
      </div>
    </div>

    <div class="spending-graph" id="pie_spending_total">
      <div class="chart-total-price">
        <div>支出合計</div>
        <div><%= (@select_spending).to_s(:delimited) %>円</div>
      </div>
    </div>

  </div>

  <div class="pie-right">
   <div class="calendar-index">カテゴリー別一覧</div>
   <div class="chart-contents">
      <div class="chart-each" id="pie_income_each">
        <% @inc_total.each do |total| %>
        <div class="record-content">
          <div class="record-genre"><%= total[0]%></div>
          <div class="record-price"><%= total[1].to_s(:delimited) %>円</div>
        </div>
        <% end %>
      </div>

      <div class="chart-each spending-graph" id="pie_spending_each">
        <% @spe_total.each do |total| %>
        <div class="record-content">
          <div class="record-genre"><%= total[0]%></div>
          <div class="record-price"><%= total[1].to_s(:delimited) %>円</div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= content_for(:title, "円グラフ") %>