<%= render "shared/header" %>

<div class="category-page">

  <div class="category-page-left media-pc">
    <div class="new-category-head">
      <div class="new-category">カテゴリー追加</div>
    </div>
    <%= form_with model: @genre, loclal: true do |f| %>
    
      <div class="wrap-form-contents ">
        <div class="category-form">
          <div class="change-btn">
            <%= f.label :form_spending, '支出', class:"spending-btn", value:1, id: "spendingSwitch" %>
            <%= f.label :form_income, '収入',class:"income-btn", value:2, id: "incomeSwitch" %>
            <%= f.hidden_field :status, value: 1, name: "genre[status]",  id: "status-form"%>
          </div>
          <%= f.text_field :g_name, class: "form-control", id: "formGroup" %>
        </div>
      </div>
      <div class="wrap-form-submit">
        <%= f.submit "保存", class:"register-btn" %>
      </div>
    <% end %>
  </div>

  <div class="category-page-right media-pc">

    <div id="category-spending" >
      <div class="chart-contents" id="name-spending">
        <div class="new-category">カテゴリー一覧(支出)</div>
        <% @genres_spending.each do |g_spending| %>
          <div class="record-content">
            <div><%= g_spending.g_name %></div>
            <div id="alert">
              <%= link_to genre_path(g_spending.id), method: :delete ,  data: { confirm: "関連するデータが全て消えてしまいます。本当によろしいですか?" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="category-income" >
      <div class="chart-contents" id="name-income">
        <div class="new-category">カテゴリー一覧(収入)</div>
        <% @genres_income.each do |g_income| %>
          <div class="record-content">
            <div><%= g_income.g_name %></div>
            <div id="alert">
              <%= link_to genre_path(g_income.id), method: :delete ,  data: { confirm: "関連するデータが全て消えてしまいます。本当によろしいですか?" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>



  <div class="category-page-right media-smart">

    <div class="category-spending-wrap" id="category-spending">
      <div class="chart-contents" id="name-spending">
        <div class="new-category">カテゴリー一覧(支出)</div>
        <% @genres_spending.each do |g_spending| %>
          <div class="record-content">
            <div><%= g_spending.g_name %></div>
            <div id="alert">
              <%= link_to genre_path(g_spending.id), method: :delete ,  data: { confirm: "関連するデータが全て消えてしまいます。本当によろしいですか?" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="category-income-wrap" id="category-income">
      <div class="chart-contents" id="name-income">
        <div class="new-category">カテゴリー一覧(収入)</div>
        <% @genres_income.each do |g_income| %>
          <div class="record-content">
            <div><%= g_income.g_name %></div>
            <div id="alert">
              <%= link_to genre_path(g_income.id), method: :delete ,  data: { confirm: "関連するデータが全て消えてしまいます。本当によろしいですか?" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="category-page-left media-smart">
    <div class="new-category-head">
      <div class="new-category-add">カテゴリー追加</div>
    </div>
    <%= form_with model: @genre, loclal: true do |f| %>
    
      <div class="wrap-form-contents ">
        <div class="category-form">
          <div class="change-btn">
            <%= f.label :form_spending, '支出', class:"spending-btn", value:1, id: "spendingSwitch" %>
            <%= f.label :form_income, '収入',class:"income-btn", value:2, id: "incomeSwitch" %>
            <%= f.hidden_field :status, value: 1, name: "genre[status]",  id: "status-form"%>
          </div>
          <%= f.text_field :g_name, class: "form-control", id: "formGroup"%>
        </div>
      </div>
      <div class="wrap-form-submit">
        <%= f.submit "保存", class:"register-btn" %>
      </div>
    <% end %>
  </div>

</div>
<%= content_for(:title, "カテゴリー編集") %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
$(function() {

   $("#category-income").css("display", "none")

  $("#spendingSwitch").on("click", function() {

    $("#category-income").css("display", "none")
    $("#category-spending").css("display", "inline")
    $("#spendingSwitch").css("background-color", "white")
    $("#incomeSwitch").css("background-color", "darkgray")
    $("#status-form").val(1)
  })

  $("#incomeSwitch").on("click", function() {

    $("#category-spending").css("display", "none")
    $("#category-income").css("display", "inline")
    $("#spendingSwitch").css("background-color", "darkgray")
    $("#incomeSwitch").css("background-color", "white")
    $("#status-form").val(2)
  });
 
});

</script>