<%= render "shared/header" %>

<div class="setting-contents">
  <div class="setting-wrap">
    <ul class="setting-title"><i class="fa-solid fa-wrench icon"><span class="icon-name">機能</span></i>
      <li>
        <%= link_to 'カテゴリー編集', new_genre_path ,class: "category-content","data-turbolinks": false %>
      </li>
      <li>
        <%= link_to 'CSV出力', csv_path ,class: "category-content" %>
      </li>
      <li>
        <div class ="category-content" id="color-mode">カラーモード</div>
      </li>
    </ul>
  </div>

  <div class="setting-wrap">
    <ul class="setting-title"><i class="fa-solid fa-user icon"><span class="icon-name">アカウント</span></i>
      <li>
        <%= link_to 'アカウント編集', edit_user_path(current_user), class:"category-content" %>
      </li>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "category-content" %>
      </li>
    </ul>
  </div>

  <div class="setting-wrap">
    <ul class="setting-title">
      <div class="icon"><%= image_tag "f_logo.png", class: "mocha-series" %><span class="mocha">Mochaシリーズ</span></div>
      <li>
        <%= link_to 'MochaBlog', "http://52.192.233.63/", class: "category-content", target:"_blank"  %>
      </li>
    </ul>
  </div>
</div>


<div id="nav-wrapper" class="nav-wrapper">
  <nav class="sp-nav">
    <i class="fa-regular fa-circle-xmark" id="js-black-bg"></i>
      <ul>
        <li class="mode-list ore-mode" id="ore-mode">ダークモード</li>
      </ul>
  </nav>
</div>
<%= content_for(:title, "設定") %>