<header class="top">
  <div class="site-header">
    <div class="site-title"><%= image_tag "mocha_finance.png", class: "mocha_finance" %></div>
    <div class="site-right"><%= link_to current_user.name + "さん", "#", class: "user-name", "data-turbolinks": false %></div>
  </div>
</header>
<div>
  <div class="page-header">
    <div class="logo"><%= image_tag "f_logo.png", class: "app_logo" %></div>
    <div class="create-account">
      <h2 class="fs-20">アカウント編集</h2>
    </div>
  </div>

  <%= form_with model: current_user, class: 'new_user', local: true do |f| %>
    <div class="field">
      <%= f.label :name, class:"form-label" %><br />
      <%= f.text_field :name , class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :"Email", class:"form-label" %><br />
      <%= f.email_field :email, class:"form-control", autocomplete: "off" %>
    </div>

    <div class="user-form-submit">
      <%= f.submit "更新", class:"user-login" %>
    </div>
    <div class="cancel-btn">
      <%= link_to '戻る', setting_path, class: "user-update-cancel", "data-turbolinks": false %>
    </div>
    <div class="cancel-btn">
      <%= link_to 'アカウント削除', user_path(current_user.id), class: "account-btn", method: :delete, data: {confirm: "これまでの収支が全て削除されます。本当にいいですか？"}%>
    </div>
  <% end %>
</div>
<%= content_for(:title, "アカウント編集") %>