<%= render "shared/header" %>


<div class="calender-bg">
  <div class="calendar-left">
    <%= month_calendar items: @items do |date, items| %>
      <%= date.day %>

      <% @items.each do |key, value| %>
        <% if date == key  %>
          <% if value < 0%>
            <p class="red"><%= value.to_s(:delimited) %></p>
          <% else %>
            <p><%= value.to_s(:delimited) %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %> 

    <div class="finance-index">
      <div class="finance-total">
        <div>
          <div>収入</div>
          <div><%= @select_income.to_s(:delimited) %>円</div>
        </div>
        <div>
          <div>支出</div>
          <div><%= @select_spending.to_s(:delimited) %>円</div>
        </div>
         <div>
          <div>合計</div>
          <div><%= (@select_income - @select_spending).to_s(:delimited) %>円</div>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-right">
    <div class="calendar-index">日付別一覧</div>
    <div class="record-contents">
      <% @records.each do |record| %>
        <%= link_to edit_record_path(record.id), class:"edit-record", method: :get do %>
          <% if record.status == 2 %>
            <div class="record-content bg-income">
              <div class="record-date"><%= record.r_date.strftime('%m月%d日') %></div>
              <div class="record-genre"><%= record.genre.g_name%></div>
              <div class="record-price"><%= record.price.to_s(:delimited) %>円</div>
            </div>
          <% else %>
            <div class="record-content">
              <div class="record-date"><%= record.r_date.strftime('%m月%d日') %></div>
              <div class="record-genre"><%= record.genre.g_name%></div>
              <div class="record-price"><%= record.price.to_s(:delimited) %>円</div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>