<div class="wrap-new-user">
  <div class="page-header">
    <div class="logo"><%= image_tag "f_logo.png", class: "app_logo" %></div>
    <div class="create-account">
      <h2 class="fs-60">Please Login</h2>
    </div>
  </div>

  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: 'new_user', local: true do |f| %>
    <div class="field">
      <%= f.label :name, class:"form-label fs-1" %><br />
      <%= f.text_field :name , class:"form-control h-1" %>
    </div>

    <div class="field">
      <%= f.label :"Password", class:"form-label fs-1" %><br />
      <%= f.password_field :password, class:"form-control h-1", autocomplete: "off" %>
    </div>

    <div class="d-grid gap-2 wrap-form-submit">
      <%= f.submit "ログイン", class:"btn btn-primary bg-success border-success h-1" %>
    </div>
  <% end %>
  <div class="new_user">
    <div class="login_transition">初めての方はこちら</div>
    <div class="d-grid gap-2">
      <a href="/users/sign_up" class="btn btn-primary bg-success border-success h-1">Create Account</a>
    </div>
  </div>
</div>