<header class="top">
  <div class="site-header">
    <div class="site-title">俺の家計簿</div>
</header>
<div>
  <div class="page-header">
    <div class="logo"><%= image_tag "f_logo.png", class: "app_logo" %></div>
    <div class="create-account">
      <h2 class="fs-20">Please Login</h2>
    </div>
  </div>

  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: 'new_user', local: true do |f| %>
    <div class="field">
      <%= f.label :name, class:"form-label" %><br />
      <%= f.text_field :name , class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :"Password", class:"form-label" %><br />
      <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
    </div>

    <div class="user-form-submit">
      <%= f.submit "ログイン", class:"user-login" %>
    </div>
  <% end %>
  <div class="new_user">
    <div class="login_transition">初めての方はこちら</div>
    <div class="user-form-submit">
      <a href="/users/sign_up" class="user-login">Create Account</a>
    </div>
  </div>
</div>
<%= content_for(:title, "ログイン") %>